<p id="notice"><%= notice %></p>
<% if @writing_image.image.persisted? && @writing_image.image.present? %>
    <%= image_tag(@writing_image.image) %>
<%end%>

<%= link_to 'Edit', edit_admins_writing_image_path(@writing_image) %> |
<%= link_to 'Back', admins_writing_images_path %>
