<h1>Editing Admins Writing Information</h1>

<%= render 'form', admins_writing_information: @admins_writing_information %>

<%= link_to 'Show', @admins_writing_information %> |
<%= link_to 'Back', admins_writing_informations_path %>
