<body style=" background-color: #171515; overflow: hidden;", id = "homePage">
    
    <div style="font-size: 30px; color: #DC143C">
        <% if flash[:error] %>
            <%= flash[:error] %>
        <% end %>
    </div>
    <br>
    <p style="text-align: center;"><span class="Title" style="font-size: 22px"> Sélectionnez une image qui vous paraît intéressante</span></p>
    <br>
    <p style="text-align: center;"><span class="Title" style="font-size: 22px"> Pick a picture you find interesting</span></p>
    <br>
    <br>
    <br>
    <div class = "Cercle">
        <% var = 0 %>
        <% @randomImage.each do |writing_image| %>
            <% if var == 0 %>
                    <div class ="cercleHome" style = "display : flex;"> 
                    <%= link_to (image_tag (writing_image.image), class: "img-responsive", :size => "390x270"), new_writing_definition_path(image: writing_image.id) %>
                </div> 
            <% else %>  
                <div class ="cercleHome" style = "display : none;"> 
                    <%= link_to (image_tag (writing_image.image), class: "img-responsive", :size => "390x270"), new_writing_definition_path(image: writing_image.id) %>
                </div> 
            <%end%>
            <% var += 1 %>
            <% if var == 6 %>
                <% break %>
            <% end %>   
        <%end%>
    </div>
    <br>
    <br>
    <form action=<%= home_index_path %> align="right" style="font-size: 30px; font-family: 'Lucida Console', 'Courier New', monospace; margin-right: 80px;margin-bottom:10px; z-index:200">
        <input style="z-index: 200;" type="submit" value="Galerie / Gallery" />
    </form>
<div class= "splash">
        <div class="fade-in">
             Écrire c'est.../Writing is...
         </div>
    </div>
</body>


