<body style=" background-color: #171515;">
<div style="font-size: 30px; color: #DC143C">
    <% if flash[:error] %>
        <%= flash[:error] %>
    <% end %>
</div>


<br>

<p style="text-align: center;"><span style="font-size: 30px;background-color: white; color: black; text-align: center;font-family: 'Lucida Console', 'Courier New', monospace;position:relative; z-index: 1;"> Séléctionner une image qui vous insipire à propos de l'écriture...</span></p>
<!--
<table class="center">
    <% var = 0 %>
    <tbody>
        <tr>
            <% @randomImage.each do |writing_image| %>
                <td>
                    <%= link_to (image_tag (writing_image.image), class: "img-responsive", :size => "350x200"), new_writing_definition_path(image: writing_image.id) %>
                </td>
                <% var += 1 %>
                <% if var == 4 %>
                    </tr>
                    <tr>
                    <td></td>
                <% end %>  
                <% if var == 6 %>
                    <% break %>
                <% end %>   
            <% end %>
        </tr>
    </tbody>
</table>
<br>
<br>
-->
<br>
<br>
<div class = "ouf">
<% var = 0 %>
<% @randomImage.each do |writing_image| %>
    <% if var == 0 %>
            <div class ="cercleHome" style = "display : flex;"> 
            <%= link_to (image_tag (writing_image.image), class: "img-responsive", :size => "390x270"), new_writing_definition_path(image: writing_image.id) %>
        </div> 
    <% else %>  
        <div class ="cercleHome" style = "display : none;"> 
            <%= link_to (image_tag (writing_image.image), class: "img-responsive", :size => "390x270"), new_writing_definition_path(image: writing_image.id) %>
        </div> 
    <%end%>
    <% var += 1 %>
    <% if var == 6 %>
        <% break %>
    <% end %>   
<%end%>
</div>
<br>
<br>
<form action=home/index2 align="right" style="font-size: 30px; font-family: 'Lucida Console', 'Courier New', monospace; margin-right: 80px;">
    <input type="submit" value="Collection" />
</form>


</body>
<script>
    function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = null;
        do {
            currentDate = Date.now();
        } while (currentDate - date < milliseconds);
    }
    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    var slide = document.getElementsByClassName("cercleHome");
    $( "div" ).mousemove(function(event) {
        imageCount = slide.length;
        n = getRandomInt(imageCount)
        for(let i=0;i<imageCount;i++){
            if (i==n){
                slide[i].style.display = 'flex';
            }else{
                slide[i].style.display = 'none';
            }

        }
        sleep(50)
   })
</script>
<script>
    function randomIntFromInterval(min, max) { // min and max included 
        return Math.floor(Math.random() * (max - min + 1) + min)
    }

    
    var intervalId = window.setInterval(function(){
    
        /// call your function here

        var fullWidth = window.innerWidth;
        var fullHeight = window.innerHeight;
        const font = ["Times New Roman", "Georgia", "Verdana", "Cursive Brush Script MT", "Lucida Handwriting", "Monaco", "Papyrus"];
        const randomFont = Math.floor(Math.random() * font.length);    

        const text = ["11000011100010010110001101110010011010010111001001100101","11000011100010010110001101110010011010010111001001100101","11000011100010010110001101110010011010010111001001100101", "Écrire", "..-.. -.-. .-. .. .-. .", "..-.. -.-. .-. .. .-. .", "..-.. -.-. .-. .. .-. .", "..-.. -.-. .-. .. .-. .","Écrire","Écrire","Écrire","write", "schreiben", "escribir", "scrivere", "írni", "om te skryf ", "napsat", "kirjutama", "schrijven", "escriure", "at skrive", "pisati", "para magsulat", "kirjoittaa", "escrever", "a scrie", "att skriva", "yazmak", "pisać", "ysgrifennu", "ekri", "scríobh", "biex tikteb", "rakstīt", "write", "write", "write", "schreiben", "escribir", "scrivere", "írni"];
        const randomText = Math.floor(Math.random() * text.length);    
        
        const mode = ["vertical-lr","horizontal-tb","horizontal-tb"]
        const randomMode = Math.floor(Math.random() * mode.length);

        var elem = document.createElement("div");
        elem.textContent = text[randomText];
        elem.style.position = "absolute";
        elem.style.color = "#D3D3D3";
        elem.style.zIndex="-1";
        elem.style.opacity="0";
        elem.style.fontSize = randomIntFromInterval(5, 50).toString()+"px";
        elem.style.writingMode = mode[randomMode];
        elem.style.fontFamily = font[randomFont];
        elem.style.left = Math.round(Math.random() * fullWidth) + "px";
        elem.style.top = Math.round(Math.random() * fullHeight) + "px";
        document.body.appendChild(elem);
        var steps = 0;
        var timer = setInterval(function() {
        steps++;
        elem.style.opacity = 0.05 * steps;
        if(steps >= 20) {
            clearInterval(timer);
            timer = undefined;
        }
    }, 50);

    }, 700);
</script>



