<p id="notice"><%= notice %></p>
<h1>Définition</h1> <br>

<p>Une définition aléatoire vous est donnée, vous pouvez la modifier si vous le souhaitez:</p>
<p>Si cette definition ne vous plait pas, recharchez!</p>
<p>Une fois votre définition créée, vous pourrez modifier l'image associée</p>

<p style="text-align:center; font-size: 30px;">
<br>
<br>
<% if @image.present? %>
	<%=image_tag (@image), :size => "500x350" %>
	<% end %>
<br>
<br>
<br>
<br>
Changer de défintion ?
<br>
<br>
<%= render 'form', writing_definition: @writing_definition, class:".center" %>
</p>

<script>
	clearInterval(intervalId);
</script>