<p id="notice"><%= notice %></p>
<h1> <%= @writing_definition.body %> </h1>
<%= link_to 'Edit the definition', edit_writing_definition_path(@writing_definition) %>
<%= link_to 'Back', writing_definitions_path %>
