/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//////////
///LOGS///
//////////


html,body {
    height: 100%;    
}

#content {
    position: relative;
    height: 100%;
}

.page {
    position: absolute;
    top:0;
    height: 100%;  
    width: 100%;
}

#page1 {
  bottom: -300%;
  -webkit-animation: down-to-up 1.5s linear forwards;
  animation: down-to-up 1.5s linear forwards;
}

#page2{
  display: none;
  .w-i{
    justify-content: left;
  }
}

@keyframes down-to-up{
    from{top:0}
    to{top:-300%}
}

@-webkit-keyframes down-to-up{
    from{bottom:0}
    to{bottom:-300%}
}

#log {
 color: #FFF;
 background-color: #000;
}

////////////
///NAVBAR///
////////////

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 10px;

  background-color: #edc5bd;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  ul.nav{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    li{
      list-style: none;
      margin-right: 20px;
    }
  }
}

///////////////////
///CREATION PAGE///
///////////////////


.app-container{
  margin-top: 60px;
}


.container {
  position: relative;
  overflow: hidden;
  .w-d {
    resize: both; /*!*enable this to css resize*! */
    padding: 10px 12px;
    cursor: none;
  }
}

/* Make the image to responsive */
.image {
  //width: 100%;
  //height: auto;
  z-index: 1;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #44494b;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
  opacity: 0.8;
  z-index: 1;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1.3);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay.color-1 { background-color: #df494e;}
.overlay.color-2 { background-color: #68a5b7;}
.overlay.color-3 { background-color: #8f978e;}
.overlay.color-4 { background-color: #d8b6ad;}
.overlay.color-5 { background-color: #677b94;}
.overlay.color-6 { background-color: #677b94;}
.overlay.color-7 { background-color: #66be98;}
.overlay.color-8 { background-color: #fcd06d;}
.overlay.color-9 { background-color: #f8a427;}
.overlay.color-10 { background-color: #d42b14;}
.overlay.color-11 { background-color: #b45996;}
.overlay.color-12 { background-color: #0f0c08;}
.overlay.color-13 { background-color: #11f8e5;}


ul.navbar-nav {
  .admin-align-right{
    position: absolute;
    right: 0;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
  empty-cells: hide;
  font-size: 20px;
}


/////////////////////

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 300px;
  margin-left: auto;
  width: auto;
  //margin-top: -22px;
  z-index: 100;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  left: 705px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textBin {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: -10px;
  max-width: 500px;
  text-align: center;
  overflow-wrap: break-word;
}

.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: -10px;
  max-width: 500px;
  text-align: center;
  overflow-wrap: break-word;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 100000s;
  animation-name: fade;
  animation-duration: 100000s;
}

@-webkit-keyframes fade2 {
  from {opacity: .99}
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .99}
  to {opacity: 1}
}


.cercleHome {
  background-image: url(background2.png);
  //background-color: white;
  background-size: cover;
  background-repeat: no-repeat;    
  position:relative;
  border-radius: 50%;
  margin-top: 10vh;
  display: flex;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin:auto;
  z-index: 100;
}

///////////////////
     ///DRAG///
///////////////////

#draggable-element, .w-d {
  width: auto;
  height: auto;
  padding: 10px 12px;
  padding-top: 0;
  position: absolute;
  font-size: 1em;
  // important (all position that's not `static`)
  overflow: hidden;
  color: rgb(0,0,0);
}


/*
#draggable-element:hover, .w-d:hover {
  background: rgba(0,0,0,.5);
  color: #fff;
}
*/

#draggable-element:hover {
  overflow: scroll;
}

#writing-image {
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.w-i {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#x, #y, #x0, #y0, #w, #h, #w0, #h0, #x-t, #y-t, #w-t, #h-t {
  display: none;
}

.wd, .w-d {
  z-index: 9;
  text-align: center;
}


/*Drgable */

.wd, .w-d {
  position: absolute;
  //overflow: auto;
}

/*Resizeable*/

.wd .resizer-right {
  width: 10px;
  height: 100%;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
}

.wd .resizer-bottom {
  width: 100%;
  height: 10px;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: n-resize;
}

.wd .resizer-both {
  width: 5px;
  height: 5px;
  background: transparent;
  //z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}

/*NOSELECT*/

.wd * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wd-header {
  //visibility: collapse;
  height: 20px;
  cursor: move;
  z-index: 200;
  color: #fff;
}


//////////
//INPUT///
//////////

input{
  font-size: 30px;
  background-color: white;
  color: black;
  font-family: 'Lucida Console', 'Courier New', monospace;
  position: relative;
  z-index: 1;
}

///////////////////////
.tableCollection{
  position:relative;
  align-items: center;
  empty-cells: hide;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

.Title{
  font-size: 30px;
  background-color: white; 
  color: black; 
  text-align: center;
  font-family: 'Lucida Console', 'Courier New', monospace;
  position:relative; 
  z-index: 100;
}


.splash {
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center; 
  z-index: 200;
  position: fixed; 
  background-color: #171515;;
  color:rgb(241, 238, 225);
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  line-height: 90vh;
}

.splash.display-none {
  opacity: 0;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center; 
  z-index: 200;
  position: fixed; 
  background-color: black;
  color:rgb(241, 238, 225);
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  line-height: 90vh;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }

}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.HomeButton{
  display: block;
  margin-left: auto;
  margin-right: 30px;
  z-index: 200;
  width: 30px;
  height: 30px;
}