/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


//////////
///LOGS///
//////////

html,body {
    height: 100%;    
}

#content {
    position: relative;
    height: 100%;
}
.page {
    position: absolute;
    top:0;
    height: 100%;  
    width: 100%;
}

#page1 {
  bottom: -300%;
  -webkit-animation: down-to-up 1.5s linear forwards;
  animation: down-to-up 1.5s linear forwards;
}

#page2{
  display: none;
}

@keyframes down-to-up{
    from{top:0}
    to{top:-300%}
}

@-webkit-keyframes down-to-up{
    from{bottom:0}
    to{bottom:-300%}
}

#log {
 color: #FFF;
 background-color: #000;
}

////////////
///NAVBAR///
////////////

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 10px;

  background-color: #edc5bd;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  ul.nav{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    li{
      list-style: none;
      margin-right: 20px;
    }
  }
}

///////////////////
///CREATION PAGE///
///////////////////


.app-container{
  margin-top: 60px;
}


.container {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
  z-index: 1;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #44494b;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
  opacity: 0.8;
  z-index: 1;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1.3);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.overlay.color-1 { background-color: #df494e;}
.overlay.color-2 { background-color: #68a5b7;}
.overlay.color-3 { background-color: #8f978e;}
.overlay.color-4 { background-color: #d8b6ad;}
.overlay.color-5 { background-color: #677b94;}
.overlay.color-6 { background-color: #677b94;}
.overlay.color-7 { background-color: #66be98;}
.overlay.color-8 { background-color: #fcd06d;}
.overlay.color-9 { background-color: #f8a427;}
.overlay.color-10 { background-color: #d42b14;}
.overlay.color-11 { background-color: #b45996;}
.overlay.color-12 { background-color: #0f0c08;}
.overlay.color-13 { background-color: #11f8e5;}


ul.navbar-nav {
  .admin-align-right{
    position: absolute;
    right: 0;
  }
}

