// Place all the styles related to the writingDefinitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.center {
    margin-left: auto;
    margin-right: auto;
    empty-cells: hide;
    font-size: 20px;
}


///////////
///SHOW////
///////////

.image-modif{
    margin-left: 10px;
    font-size: 25px;
}

.show-container{
    display: flex;
    align-items: center;
    .show-final-container{
        color: #fff;
        margin-left: 10px;
        display:flex;
        flex-direction: column;
        text-align:center; 
        font-size: 30px;

        .definition-container {
            display:flex;
            flex-direction: row;
            margin-bottom: 10px;

            .definition-edit {
                padding-left: 10px;
                text-align:left;
                width: calc(100vw - 1055px);
                .actions {

                    #writing_definition_body{
                        border-radius: 6px;
                        width: calc(100vw - 1055px);
                        margin-bottom: 20px;
                    }

                    .definition-features{
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: calc(100vw - 1035px);
                        font-size: 20px;
                        #font-size, #font-family {
                            border-radius: 6px;
                            width: calc((100vw - 1055px)/2);
                            margin-bottom: 10px;
                        }
                        #font-size{
                            margin-right: 10px;
                        }
                        #font-family {
                            select {
                                width: calc((100vw - 1055px)/2);
                                height: 38px;
                            }
                        }
                    }
                }
            }
        }
    }       
}

.update{
    margin-bottom: 35px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input{
        width: calc((100vw - 1055px)/2);
        font-size: 25px;
    }
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    input{
        font-size: 25px;
        margin-right: 10px;
    }
} 

a.link {
    text-decoration: none;
    background-color: white;
    text-align: center;
    color: rgba(0,0,0,0.7);
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 5px;
    border: 3px solid rgba(0,0,0,0.7);

}
a.publish{
    display: flex;
    justify-content: center;
    padding: 10px;
}
a.link:hover {
    color: black;
    border: 3px solid rgba(0,0,0,1);
}

///////////
///NEW////
///////////

.exploring {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .init{
        width: 45vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        #intro{
            display: flex;
            flex-direction: row;
            .flag{
                font-size: 50px;
            }
            .reload-link{
                cursor: pointer;
            }
        }
    }
    .author{
        font-size: 10px;
        font-family: cursive;
    }

    #hidden-sub-parts-1 {
        width: calc((100vw - 755px)/2);
        max-height:100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .sub-pointer-1, .sub-pointer-2, .sub-pointer-3 {
            visibility: hidden;
            max-height:100vh;
        overflow: hidden;
            font-family: "Didot";
            font-size: 20px;
            margin: 50px 0
        }

        .sub-pointer-1 {
            max-height:100vh;
            overflow: hidden;
            margin-top: 10px;
            margin-right: -100px
        }
        .sub-pointer-2 {
            max-height:100vh;
            overflow: hidden;
            margin-left: 100px
        }
        .sub-pointer-3 {
            max-height:100vh;
            overflow: hidden;
            margin-right: 50px
        }
    }

    #hidden-sub-parts-2 {
        width: calc((100vw - 755px)/2);
        max-height:100vh;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        .sub-pointer-4, .sub-pointer-5, .sub-pointer-6 {
            visibility: hidden;
            max-height:100vh;
            overflow: hidden;
            font-family: "Didot";
            font-size: 20px;
            margin: 50px 0
        }

        .sub-pointer-4 {
            max-height:100vh;
            overflow: hidden;
            margin-top: 10px;
            margin-left: -100px
        }
        .sub-pointer-5 {
            max-height:100vh;
            overflow: hidden;
            margin-right: 100px
        }
        .sub-pointer-6 {
            max-height:100vh;
            overflow: hidden;
            margin-left: 50px
        }
    }

    #hidden-part-1, #hidden-part-2, #sub-hidden-parts {
        width: calc((100vw - 755px)/2);
        max-height: 100vw;
        overflow: hidden;
        .pointer-1, .pointer-2 {
            max-height:100vh;
            overflow: hidden;
            visibility: hidden;
            font-family: "Didot";
            font-size: 20px;
        }
    }
}
.reload{
    height: 20px;
    width: 20px;
    margin-left: 263px;
    position: absolute;
    margin-top: -35px;
}








