<h1>Editing Writing Definition</h1>

<%= render 'form', writing_definition: @writing_definition %>

<%= link_to 'Show', [:admins, @writing_definition] %> |
<%= link_to 'Back', admins_writing_definitions_path %>
