<h1>Create your own Definition or keep this one :)</h1>
<h2>Refresh to get another deifition ;)</h2>
<%= render 'form', writing_definition: @writing_definition %>

<%= link_to 'Back', admins_writing_definitions_path %>
